@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*transitions*/
.transition-fade {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

/*index*/
body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

#menu {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: clamp(10vw, 20vw, 50vw);
}

#menu-items {
    margin-left: clamp(4rem, 10vw, 10rem);
    position: relative;
    z-index: 1;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}
  
#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}
  
#menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
}

#menu-text, .menu-item {
    color: white;
    font-family:'Poiret One', cursive;
    display: block;
    text-decoration: none;
}

#menu-text {
    font-size: clamp(1rem, 5vw, 2rem);
    position: relative;
    z-index: 2;
}

.menu-item {
    font-size: clamp(3rem, 5vw, 5rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-background-image {
    background-image: url(../indexBackground.jpg);
    position: absolute;
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;  
    opacity: 0.15;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: -1;
}

/*projects*/

.grid-container {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}

img {
    width: 100%;
    height: 100%;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
}
figure > * {
    grid-area: 1/1;
    transition: .4s;
}
figure figcaption {
    display: grid;
    align-items: end;
    font-family:'Poiret One', cursive;
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
    padding: .75rem;
    background: #0009;
    clip-path: inset(0 var(--_i,100%) 0 0);
    margin: -1px;
}
figure:hover figcaption{
    --_i: 0%;
}
  figure:hover img {
    transform: scale(1.2);
}

